<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aqui podes fazer a primera pagina
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-title size="large">Nao é necesario usar todas as componentes de ionic, so as que consideres correctas</ion-title> -->

  <div class="square">
    <ion-segment class="bgseg" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="padres" class="segbtnactive">
        <ion-label class="lbltextactive">PADRES</ion-label>
      </ion-segment-button>
      <ion-segment-button value="hijos" class="segbtn">
        <ion-label class="lbltext">HIJOS</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-button class="btnapple"><ion-icon class="appleicon" src="assets/Vectorapple.svg"></ion-icon>APPLE</ion-button>

    <ion-button class="btngoogle"><ion-icon class="googleicon" src="assets/GoogleLogo.svg"></ion-icon>GMAIL</ion-button>

    <ion-label class="lblemail">o con email</ion-label>

    <ion-item lines="none" class="inputemail">
      <ion-label class="lblemailinput">Email</ion-label>
      <ion-input class="inputemailinput"></ion-input>
    </ion-item>

    <ion-item lines="none" class="inputpass">
      <ion-input type="password" clearInput class="inputpassinput"></ion-input>
    </ion-item>

    <ion-label class="lblrecover">Recuperar contraseña</ion-label>

    <ion-button class="btnlogin">ENTRAR</ion-button>

    <ion-label class="lblacc">¿Aún no tienes una cuenta? <ion-label class="lblregister">Regístrate <ion-icon class="arrowicon" src="assets/Vectorarrow.svg"></ion-icon></ion-label></ion-label>
    
  </div>
</ion-content>
